In [44]:
from tabulate import tabulate

girls = [
    ("Evelyn", 17, 5.5, 80),
    ("Jessica", 16, 6.0, 85),
    ("Somto", 17, 5.4, 70),
    ("Edith", 18, 5.9, 66),
    ("Liza", 16, 5.5, 76),
    ("Madonna", 18, 6.1, 87),
    ("Waje", 17, 6.0, 95),
    ("Tola", 20, 5.7, 50),
    ("Aisha", 19, 5.5, 49),
    ("Latifa", 17, 5.5, 80),
]

headers:( "Age", "Hhh", "Height (ft)", "Score")

print(tabulate(girls, headers=headers, tablefmt="fancy_grid"))

╒═════════╤═══════╤═══════════════╤═════════╕
│ Name    │   Age │   Height (ft) │   Score │
╞═════════╪═══════╪═══════════════╪═════════╡
│ Evelyn  │    17 │           5.5 │      80 │
├─────────┼───────┼───────────────┼─────────┤
│ Jessica │    16 │           6   │      85 │
├─────────┼───────┼───────────────┼─────────┤
│ Somto   │    17 │           5.4 │      70 │
├─────────┼───────┼───────────────┼─────────┤
│ Edith   │    18 │           5.9 │      66 │
├─────────┼───────┼───────────────┼─────────┤
│ Liza    │    16 │           5.5 │      76 │
├─────────┼───────┼───────────────┼─────────┤
│ Madonna │    18 │           6.1 │      87 │
├─────────┼───────┼───────────────┼─────────┤
│ Waje    │    17 │           6   │      95 │
├─────────┼───────┼───────────────┼─────────┤
│ Tola    │    20 │           5.7 │      50 │
├─────────┼───────┼───────────────┼─────────┤
│ Aisha   │    19 │           5.5 │      49 │
├─────────┼───────┼───────────────┼─────────┤
│ Latifa  │    17 │           5.5 │      80 │
╘═════════╧═══════╧═══════════════╧═════════╛

In [35]:
for num in range(15):
    if num > 8:
      print (num * 10)
    if num <= 8:
       print (num * 20)

0
20
40
60
80
100
120
140
160
90
100
110
120
130
140

In [36]:
x = 1000
y = 3000

print (x+y)

4000

In [ ]:
count = 1
while count <= 5:
    print (count)

In [4]:
x = 3
y = x + 2
z = y * x
f = z - x
xx = x * 2

print(x,y,z,xx,f)

3 5 15 6 12

In [5]:
x = 0
for i in range(1, 6):  # i goes from 1 to 5
    if i % 2 == 0:
        x += i        # add if even
    else:
        x -= i        # subtract if odd
print(x)

-3

In [1]:
for i in range (10):
    if i == 5:
        break
    else:
        print(i)
else:
        print("Here")

0
1
2
3
4

In [4]:
x = 10
def outer_func():
 x = 20
 def inner_func():
  print(x)

In [6]:
def greet(name):
    print("Hello", + name +"!")
    greet ("John")