In [5]:
# Data representation
girls = [
    ("Evelyn", 17, 5.5, 80),
    ("Jessica", 16, 6.0, 85),
    ("Somto", 17, 5.4, 70),
    ("Edith", 18, 5.9, 66),
    ("Liza", 16, 5.5, 76),
    ("Madonna", 18, 6.1, 87),
    ("Waje", 17, 6.0, 95),
    ("Tola", 20, 5.7, 50),
    ("Aisha", 19, 5.5, 49),
    ("Latifa", 17, 5.5, 80),
]

boys = [
    ("Chinedu", 19, 5.7, 74),
    ("Liam", 16, 5.9, 87),
    ("Wale", 18, 5.6, 75),
    ("Gbenga", 17, 1.5, 68),
    ("Abiola", 20, 9.5, 66),
    ("Kola", 19, 5.1, 78),
    ("Kunle", 16, 5.9, 98),
    ("George", 18, 5.5, 54),
    ("Thomas", 5, 8.5, 60),
    ("Wesley", 7, 7.0, 60),
]

# Function for table
def print_table(data, title):
    print(f"\n{title}")
    print("=" * 40)
    print(f"{'Name':<10}{'Age':<5}{'Height':<8}{'Score'}")
    print("-" * 40)
    
    for entry in data:
        name, age, height, score = entry
        print(f"{name:<10}{age:<5}{height:<8}{score}")

# Display tables
print_table(girls, "Girls Data")
print_table(boys, "Boys Data")

Girls Data
========================================
Name      Age  Height  Score
----------------------------------------
Evelyn    17   5.5     80
Jessica   16   6.0     85
Somto     17   5.4     70
Edith     18   5.9     66
Liza      16   5.5     76
Madonna   18   6.1     87
Waje      17   6.0     95
Tola      20   5.7     50
Aisha     19   5.5     49
Latifa    17   5.5     80

Boys Data
========================================
Name      Age  Height  Score
----------------------------------------
Chinedu   19   5.7     74
Liam      16   5.9     87
Wale      18   5.6     75
Gbenga    17   1.5     68
Abiola    20   9.5     66
Kola      19   5.1     78
Kunle     16   5.9     98
George    18   5.5     54
Thomas    5    8.5     60
Wesley    7    7.0     60